services:
  mongo:
    image: "mongo"
    ports:
      - "27017:27017"
    expose:
        - 27017
  ganache:
    image: "trufflesuite/ganache-cli"
    ports:
      - "8545:8545"
    expose:
        - 8545
    command: --account=0xd81780450e195fc89a88f3221b1a9410f1904fbe224b35818010b07eada8ddb3,1000000000000000000000
  bookings-dapp:
    image: "dylankerler/bookings-dapp"
    links:
      - mongo
    ports:
      - "3000:3000"
      - "8080:8080"